<!-- Developer: Frank -->
{% extends '../base.html' %}
{% block title %}Vehicle {{ vehicle.vehicleID }}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="/management/vehicle">Vehicle</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ vehicle.vehicleID }}</li>
{% endblock %}
{% block content %}
<!-- Error message box will be shown only if the msg variable has some value -->
{% if msg != "" %}
<div class="row">
<div class="col-md-12 col-sm-12">
	<!-- Checking whether it is a danger type or info type needed for the box
		Will be checked by mtype is d or i
		-->
	{% if mtype == "d" or mtype == "a" %}
	<div class="alert alert-danger">
		{% elif mtype == "i" %}
		<div class="alert alert-info">
			{% endif %}
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{% if mtype == "a" %}
			{% for key, values in msg %}
			<p>{{ key }} : {{ values.0 }}</p>
			{% endfor %}
			{% else %}
			<p>{{ msg }}</p>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
<form action="/management/vehicle/id/{{ vehicle.vehicleID }}" method="POST" id="vform">
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Vehicle {{ vehicle.vehicleID }}</h2>
				<hr>
			</div>
		</div>
		<div class="row pt-4 pb-4">
			<div class="col-md-8">
				
			</div>
			<div class="col-md-4">
				<input type="submit" class="btn btn-flat btn-primary p-2 mr-4" value="Save Changes"/>
				<div class="btn btn-flat btn-danger p-2" id="deleteBtn">Delete</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>Vehicle Details</h5>
				<hr>
				<br>
				<div class="row">
					<input type="hidden" name="vID" value="{{ vehicle.vehicleID }}"/>
					<div class="col-md-3 field-label-responsive">
						<label for="makeName">Make</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<div class="input-group-addon" ></i></div>
								<input type="text" name="makeName" class="form-control" id="makeName"
									placeholder="Vehicle Make" required value="{{ vehicle.makeName }}" autocomplete="on">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="model">Model</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<div class="input-group-addon" ></i></div>
								<input type="text" name="model" class="form-control" id="model"
									placeholder="Vehicle Model" required value="{{ vehicle.model }}" autocomplete="on">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="series">Series</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<div class="input-group-addon" ></i></div>
								<input type="text" name="series" class="form-control" id="series"
									placeholder="Vehicle Series" required value="{{ vehicle.series }}" autocomplete="on">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="year">Year</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<div class="input-group-addon" ></i></div>
								<input type="number" name="year" class="form-control" id="year"
									placeholder="eg: 2018" required autocomplete="on" value="{{ vehicle.year }}" min=0 step=1 max=2500>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="enginesize">Engine Size</label>
					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0 ">
								<input type="number" name="enginesize" class="form-control" id="enginesize"
									placeholder="Engine Size" required value="{{ vehicle.enginesize }}" autocomplete="on" min=0.0 step=0.1>
								<div class="input-group-prepend">
									<div class="input-group-text">L</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="seatingCapacity">Seating Capacity</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="number" name="seatingCapacity" class="form-control" id="seatingCapacity"
									placeholder="Seating Capacity" required value="{{ vehicle.seatingCapacity }}" autocomplete="on" min=0 step=1>
							</div>
						</div>
					</div>
				</div>
				
                
			</div>
			<div class="col-md-6 mt-5 pt-4">
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="fuelSystem">Fuel System</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" name="fuelSystem" class="form-control" id="fuelSystem"
									placeholder="Fuel System" required value="{{ vehicle.fuelSystem }}" autocomplete="on">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="tankCapacity">Tank Capacity</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="number" name="tankcapacity" class="form-control" id="tankcapacity"
									placeholder="Tank Capacity" value="{{ vehicle.tankcapacity }}" required autocomplete="on" min=0.0 >
								<div class="input-group-prepend">
									<div class="input-group-text">L</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="power">Power</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="number" name="power" class="form-control" id="power"
									placeholder="Power" value = "{{ vehicle.power }}" required autocomplete="on" min=0 >
								<div class="input-group-prepend">
									<div class="input-group-text">kW</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="standardTransmission">Standard Transmission</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" name="standardTransmission" class="form-control" id="standardTransmission"
									placeholder="Standard Transmission" value="{{ vehicle.standardTransmission }}" required autocomplete="on" >
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="wheelBase">Wheel Base</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="number" name="wheelbase" class="form-control" id="wheelBase"
									placeholder="Wheel Base" required value="{{ vehicle.wheelbase }}" autocomplete="on" min=0 >
								<div class="input-group-prepend">
									<div class="input-group-text">mm</div>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="row">
                        <div class="col-md-3 field-label-responsive">
                            <label for="bodyType">Body Type</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" name="bodyType" value="{{ vehicle.bodyType }}" class="form-control" id="bodyType"
                                        placeholder="Body Type" required autocomplete="on">
                                </div>
                            </div>
                        </div>
				</div>
				<div class="row">
					<div class="col-md-3 field-label-responsive">
						<label for="driveType">Drive Type</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<select class="form-control select2" style="width:200px;" name="driveType" id="driveType" required>
									<option value="">Select Drive Type</option>
									<option value="AWD" {% if vehicle.driveType == "AWD" %}  selected="selected" {% endif %}>AWD</option>
									<option value="FWD" {% if vehicle.driveType == "FWD" %}  selected="selected" {% endif %}>FWD</option>
									<option value="RWD" {% if vehicle.driveType == "RWD" %}  selected="selected" {% endif %}>RWD</option>
									<option value="4WD" {% if vehicle.driveType == "4WD" %}  selected="selected" {% endif %}>4WD</option>
									
								</select>
							</div>
						</div>
					</div>
			</div>
                
				
			</div>
        </div>
        <div class="row mt-3">
            <hr>
            <br>
            <div class="col-md-4">
                <div class="row">
                        <div class="col-md-4 field-label-responsive">
                                <label for="userType">Store</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control select2" style="width:180px;" name="storeID" id="storeID" required>
                                        <option value="">Select store</option>
                                        {% for s in stores %}
                                        <option value="{{ s.storeID }}" {% if vehicle.storeID_id == s.storeID %}  selected="selected" {% endif %}>{{ s.storeName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                </div>
                    
            </div>
            <div class="col-md-4">
                <div class="row">
                        <div class="col-md-4 field-label-responsive">
                            <label for="newPrice">Price</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="number" name="newPrice" class="form-control" id="newPrice"
                                        placeholder="Price" required autocomplete="on" value="{{ vehicle.newPrice }}" min=0.00 step=0.10 >
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4 pl-5">
               
                       
            </div>
        </div>
	</div>
</form>
{% endblock %}
<!--
	All components for the scripts per page goes here.
	Base.html will contain all the scripts neccessary to the project
	If you need any new js file add it under the block scripts
	-->
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
	    $('#datepicker').datepicker({
	        weekStart: 1,
	        daysOfWeekHighlighted: "6,0",
	        autoclose: true,
	        todayHighlight: true,
	     });
	
		$('#storeID').select2();

		$('input[type=text]').change(function(){
			$(this).val (function () {
				return this.value.toUpperCase();
			})
		})
		
		$("#deleteBtn").click(function(){
			var res = confirm("Are your sure, you want to delete the vehicle: {{ vehicle.vehicleID }}");
			if(res){
				$.ajax({
					url: "/management/vehicle/delete/{{ vehicle.vehicleID }}",
					type : 'GET',
					success: function(result){
						if(result == "True"){
							alert("Vehicle Deleted");
							location.href = "/management/vehicle";
						}
						else if(result == "False"){
							alert("Sorry, something happened.");
						}
					}});
			}
		})
		
	});
</script>
{% endblock %}